<div class="row">
	<div class="large-4 columns">
				<form action="change_password.php" method="post" class="inputform">
					<div class="row">
						<div class="large-12 columns">
							<label>كلمة المرور الحالية</label>
							<input type="password" name="old_password" />
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
						<label>كلمة المرور الجديدة</label>
						<input type="password" name="new_password1" />
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
						<label>تأكيد كلمة المرور الجديدة</label>
						<input type="password" name="new_password2" />
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<input class="small button" type="submit" name="submit" value="تحديث كلمة المرور" />
						</div>
					</div>
				</form>
	</div>
</div>
