				<div class="inputform">
					<table>
						<tr>
							<!-- Request updates -->
							<td>
								<div class="one_cockpit">
									<div class="oneleft">
										<h3><a href="request_update.php">تحديثات معلّقة</a></h3>
										<p>قبول و رفض التحديثات المعلّقة.</p>
									</div>
									
									<div class="oneright">
									<center>
										<img src="views/img/flag.png" /><br />
										{request_updates}
									</center>
									</div>
									
									<div class="clear"></div>
								</div>
									
							</td>
							
							<!-- Inactive users -->
							<td>
								<div class="one_cockpit">
									<div class="oneleft">
										<h3><a href="inactive_users.php">أعضاء غير فاعلين</a></h3>
										<p>عرض تفاصيل الأعضاء غير الفاعلين.</p>
									</div>
									
									<div class="oneright">
									<center>
										<img src="views/img/lightbulb.png" /><br />
										{inactive_users_count}
									</center>
									</div>
									
									<div class="clear"></div>
								</div>
									
							</td>
							<td>
								
							</td>
						</tr>
					</table>
				</div>
