	<div class="large-12 columns">

		<h4 class="subheader">الصور</h4>

		{media}
	</div>
</div>

<hr />

<div class="row">
	<div class="large-4 columns">
		<h4 class="subheader">مناسبات جارية</h4>
		<div>
			<ul>
			{current_events}
			</ul>
		</div>
	</div>
	
	<div class="large-4 columns">
		<h4 class="subheader">مناسبات قادمة</h4>
		
		<div>
			<ul>
			{future_events}
			</ul>
		</div>
	</div>
	
	<div class="large-4 columns">
		<h4 class="subheader">مناسبات ماضية</h4>
		
		<div>
			<ul>
			{past_events}
			</ul>
		</div>
	</div>
</div>
