<div class="row">
	<div class="large-12 columns">
	
		<h4>تعديل سؤال رمضاني</h4>
		<form action="manage_ramadan_questions.php?action=edit_question&id={id}" method="post">
		
			<div class="row">
				<div class="large-4 columns">
					<label>اليوم</label>
					<input type="text" name="day" value="{day}" />
				</div>
			</div>
		
			<div class="row">
				<div class="large-8 columns">
					<label>السؤال</label>
					<textarea name="question" cols="40" rows="4">{question}</textarea>
				</div>
			</div>

			<div class="row">
				<div class="large-4 columns">
					<div class="row collapse">
						<label>الجواب الأول</label>
						<div class="large-10 small-10 columns">
							<input type="text" name="answer1" value="{answer1}" />
						</div>
						<div class="large-2 small-2 columns">
							<span class="postfix"><input type="radio" name="correct_answer" value="1" {checked_answer1} /></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<div class="row collapse">
						<label>الجواب الثاني</label>
						<div class="large-10 small-10 columns">
							<input type="text" name="answer2" value="{answer2}" />
						</div>
						<div class="large-2 small-2 columns">
							<span class="postfix"><input type="radio" name="correct_answer" value="2" {checked_answer2} /></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<div class="row collapse">
						<label>الجواب الثالث</label>
						<div class="large-10 small-10 columns">
							<input type="text" name="answer3" value="{answer3}" />
						</div>
						<div class="large-2 small-2 columns">
							<span class="postfix"><input type="radio" name="correct_answer" value="3" {checked_answer3} /></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<div class="row collapse">
						<label>الجواب الرابع</label>
						<div class="large-10 small-10 columns">
							<input type="text" name="answer4" value="{answer4}" />
						</div>
						<div class="large-2 small-2 columns">
							<span class="postfix"><input type="radio" name="correct_answer" value="4" {checked_answer4} /></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-8 columns">
					<label>الرسالة الإيجابيّة</label>
					<textarea name="positive_message" cols="40" rows="4">{positive_message}</textarea>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<button class="small button" type="submit" name="submit" value="1">تعديل سؤال</button>
				</div>
			</div>	
		</form>
	</div>
</div>
