<!DOCTYPE HTML>
<html dir="rtl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
	
		<table border="0" width="100%">
			<tr>
				<td>
					<table border="0" style="width: 600px" cellpadding="8" align="center">
						<tr>
							<td>
								<table border="0" style="background-color: #9E154C; width: 560px;" cellpadding="8">
									<tr>
										<td>
											<img src="http://www.alzughaibi.org/alzughaibi/views/img/logo.png" />
										</td>
									</tr>
								</table> 
				
								<table border="0" style="width: 560px;" cellpadding="8">
									<tr>
										<td>
											<h1>{subject}</h1>
								
											<p>{message}</p>
								
											<h5>{footer}</h5>
										</td>
									</tr>
								</table> 
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
