				<div class="inputform family_council_page">

					<h2>الوصف</h2>
					<p>
					<ol>
						<li>يتكون المجلس من عدد من الأعضاء يبلغ عددهم ستة عشر عضوا ويكون أمين المجلس عضوا في المجلس ضمن الأعضاء المنتخبين.</li>
						<li>يتم اختيار رئيس المجلس ونائبه عن طريق الاقتراع العلني أو الاقتراع السري في التصويت حسب ما يقره الأعضاء في جلستهم المخصصة لذلك وذلك لمدة ثلاث سنوات قابلة للتجديد وإذا تساوت الأصوات بين المرشحين فيعد قرار رئيس المجلس الأعلى مرجحا.</li>
						<li>يتم اختيار نائب الرئيس بالآلية التي تم فيها اختيار الرئيس.</li>
					</ol>
					</p>
					
					<h2>أعضاء المجلس</h2>
					
					<div id="stats">
					<table class="table">
						<thead>
							<tr>
								<th>العضو</th>
								<th>العضويّة</th>
							</tr>
						</thead>
						<tbody>
							{members}
						</tbody>
					</table>
					</div>
				</div>
