<div class="row">
	<div class="large-12 columns">
				
					{deanship}
					
					<h4 class="subheader">المهام</h4>
					<ol>
						<li>تمثيل العائلة في الجهات الرسمية والمحافل العامة.</li>
						<li>التعريف بالعائلة وأفرادها لدى الجهات الرسمية.</li>
						<li>الشفاعة لأفراد العائلة لدى الجهات الرسمية.</li>
						<li>إصلاح ذات البين.</li>
						<li>التواصل الدائم مع جميع أفراد العائلة.</li>
					</ol>
					
					<h4 class="subheader">مواصفات العميد</h4>
					<p>
					أحد وجهاء العائلة ممن لديه صلات عميقة مع أفراد العائلة و العوائل الأخرى ومعرفة بأساليب التواصل مع الجهات الحكومية ويكون عضوا في مجلس العائلة، ويوفر له سكرتارية ضمن أمانة مجلس العائلة.
					</p>

	</div>
</div>
