<div class="row">
	<div class="large-12 columns">
	
		<h4>أخطاء ({bugs_count})</h4>
		
		<table class="large-12 columns">
			<thead>
				<tr>
					<th>الخطأ</th>
				</tr>
			</thead>
			<tbody>
				{bugs}
			</tbody>
		</table>
		
		<h4>أفكار ({ideas_count})</h4>
		
		<table class="large-12 columns">
			<thead>
				<tr>
					<th>الفكرة</th>
				</tr>
			</thead>
			<tbody>
				{ideas}
			</tbody>
		</table>
		
		<h4>إعجاب ({praises_count})</h4>
		
		<table class="large-12 columns">
			<thead>
				<tr>
					<th>الإعجاب</th>
				</tr>
			</thead>
			<tbody>
				{praises}
			</tbody>
		</table>
	</div>
</div>

