			<div class="row">
				<div class="large-12 columns">
					<hr />
				</div>
			</div>
			
			<div class="row">
				<div class="large-12 columns">
				<ul class="inline-list">
					<li>(ح) جميع الحقوق محفوظة 2012</li>
					<li><li><a href="https://twitter.com/alzughaibiorg" class="twitter-follow-button" data-show-count="true" data-lang="ar">@alzughaibiorg</a></li></li>
					<li><a href="feedback.php?page=index.php" class="tiny secondary button">أخبرنا برأيك!</a></li>
				</ul>
				</div>
			</div>
			
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		
		<script type="text/javascript">
	    		$(document).foundation();
	  	</script>
	</body>
</html>
