<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ar" dir="rtl"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="{description}" />
		<meta name="keywords" content="{keywords}" />
		<meta name="author" content="حسام الزغيبي" />
		<meta name="viewport" content="width=device-width">
		
		<title>عائلة الزغيبي - {title}</title>
		
		<link rel="shortcut icon" href="views/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="views/img/icon.png"/>
		<link rel="apple-touch-icon-precomposed" href="icon" />
		
		<link rel="stylesheet" href="views/css/normalize.css" />
		<link rel="stylesheet" href="views/css/foundation.css" />
		
		<script type="text/javascript" src="views/js/vendor/jquery.js"></script>
		<script type="text/javascript" src="views/js/jquery.zoghiby.autocomplete.js?version={version}"></script>
		
		<script type="text/javascript" src="views/js/foundation.min.js"></script>
		<script type="text/javascript" src="views/js/vendor/custom.modernizr.js"></script>
		<!--<script type="text/javascript" src="views/js/jit-yc.js"></script>-->
		
		{js}
	</head>
	
	<body>
	
	<div class="container">
		
			<nav class="top-bar">
				<ul class="title-area">
					<li class="name">
						<h1><a href="index.php">عائلة الزغيبي <small>{version}</small></a></h1>
					</li>
					
					<li class="toggle-topbar menu-icon"><a href="#"><span>القائمة</span></a></li>
				</ul>
				
				<section class="top-bar-section">
					<ul class="left">
						<li class="divider"></li>
						<li><a href="index.php">الأولى</a></li>
						<li class="divider"></li>
						<li><a href="familytree.php">شجرة العائلة</a></li>
						<li class="divider"></li>
						<li><a href="stats.php">إحصاءات</a></li>
						<li class="divider"></li>
						<li><a href="calendar.php">مناسبات العائلة</a></li>
						<li class="divider"></li>
						<li><a href="mobile_book.php">دليل الجوّال</a></li>
						<li class="divider"></li>
						<li><a href="family_dean.php">عميد العائلة</a></li>
					</ul>
				</section>
			</nav>
		
			<div class="panel">
				<div class="row">
					{logged}
				</div>
			</div>

