<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="حسام الزغيبي" />
		
		<title>تينه - {title}</title>
		
		<link rel="stylesheet" href="views/css/main.css" type="text/css" />
		<link rel="shortcut icon" href="views/img/favicon.ico" type="image/x-icon" />
		
		<script type="text/javascript" src="views/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="views/js/jquery.autocomplete.js"></script>
		<script type='text/javascript' src='views/js/jquery.tipsy.js'></script>
		<script type="text/javascript" src="views/js/jit-yc.js"></script>
		
		{js}
	</head>

	<body>
		<div id="wrapper">

			<section id="header">
				<header>
					<a href="index.php"><img src="views/img/logo.png" alt="تينه، شجرة العائلة الإلكترونية" border="0" /></a>
				</header>
			</section>
			
			<section id="content">
				<nav id="topnavigation">
					<ul>
						<li><a href="index.php">الأولى</a> <i class="icon-chevron-left"></i></li>
						<li><b>{title}</b></li>
					</ul>
				</nav>

