				<div id="familytree_legend">
				<i class="icon-warning-sign"></i>
					في حال تمت عملية إضافة جميع الأسماء الأولية، انتقل إلى 
			<a href="install.php?stage=update_stage_to_sms_sending">إرسال رسائل العضويات</a>.
				</div>


				<a name="toppage"></a>

				<div class="loading">
					<i class="icon-time"></i> جاري التحميل...
				</div>

				<div id="familytree_container">
					<div id="familytree_leftinfo"></div>
					<div id="familytree_tree">
						<div id="infovis"></div>
					</div>
				</div>
				
				<div id="familytree_legend">
					<ul class="ul_inline">
						<li><b>توضيح</b></li>
						<li><span class="node_legend no_children"></span> لا أبناء</li>
						<li><span class="node_legend one_child"></span> ابن واحد</li>
						<li><span class="node_legend two_children"></span> ابنان</li>
						<li><span class="node_legend three_children"></span> 3 أبناء</li>
						<li><span class="node_legend four_children"></span> 4 أبناء</li>
						<li><span class="node_legend five_children"></span> 5 أبناء</li>
						<li><span class="node_legend more_five_children"></span> أكثر من 5 أبناء</li>
					</ul>
				</div>	
