
<form action="install.php" method="post" class="inputform">

	<!-- Database configurations -->
	<h2>إعدادات قاعدة البيانات</h2>

	<p>
		<label>الخادم</label>
		<input type="text" name="db_server" value="localhost" />
	</p>

	<p>
		<label>اسم المستخدم</label>
		<input type="text" name="db_username" value="root" />
	</p>

	<p>
		<label>كلمة المرور</label>
		<input type="password" name="db_password" value="" />
	</p>

	<p>
		<label>اسم قاعدة البيانات</label>
		<input type="text" name="db_name" value="familytree" />
	</p>

	<!-- SMS configurations -->
	<h2>إعدادات SMS</h2>

	<p>
		<label>اسم المستخدم</label>
		<input type="text" name="sms_username" value="" />
	</p>

	<p>
		<label>كلمة المرور</label>
		<input type="password" name="sms_password" value="" />
	</p>

	<p>
		<label>اسم المُرسل</label>
		<input type="text" name="sms_sender" value="" />
	</p>

	<!-- Tribe configuration -->
	<h2>إعدادات العائلة</h2>

	<p>
		<label>اسم العائلة</label>
		<input type="text" name="main_tribe_name" value="" />
	</p>

	<p>
		<label>&nbsp;</label>
		<button type="submit" name="submit" value="1" class="btn positive">التالي <i class="icon-chevron-left icon-white"></i></button>
	</p>

</form>
