				<script type="text/javascript">
				
					var g_to, g_message, g_recipients_count;
					var g_sent, g_not_sent;
				
					$(function(){
					
						$("#message").keyup(function(){
							count_message_length();
						});
						
						$("#submit").click(function(){

							g_message = $("#message").val();

							// Check if the message is empty.
							if ($("#message").val() == "")
							{
								alert("الرجاء إدخال محتوى الرسالة المراد إرسالها.");
								return false;
							}
						
							$("#submit").hide();
							
							get_recipients_count();
							
							// Rest some values.
							g_sent = 0; g_not_sent = 0;
							
							if (g_recipients_count == 0)
							{
								alert("لم يتم العثور على مستلمين.");
								return;
							}
		
							for (var l_offset=0; l_offset<g_recipients_count; l_offset++)
							{
								send_message_offset(g_to, g_message, l_offset);
								var numerator = l_offset + 1;
								var percent = Math.round((numerator / g_recipients_count) * 100);
								$("#sending_details").html("<i class='icon-time'></i> جاري إرسال "+ (numerator) + " من " + (g_recipients_count) + " (" + percent + "%)...");
							}
							
							// After all display sent details.
							$("#sending_details").html("<i class='icon-ok'></i> تم إرسال الرسالة إلى " + g_sent + "، بينما لم يتم إرسالها إلى " + g_not_sent + ".");
							
							// Redirect the user to other page.
							window.location.replace("install.php?stage=update_stage_to_launch");
							
							$("#message").val("");
							$("#submit").show();
						});
			
						$("#message").keyup();
					});
					
					function get_recipients_count()
					{
						$.ajax({
							url: "install.php?stage=send_sms_message",
							type: "post",
							async: false,
							data: {method: "count"},
							success: function(response){
								g_recipients_count = parseInt(response);
							}
						});
					}
					
					function send_message_offset(l_to, l_message, l_offset)
					{
						$.ajax({
							url: "install.php?stage=send_sms_message",
							type: "post",
							async: false,
							data: { method: "offset", message: g_message, offset: l_offset},
							success: function(response){

								//1: success, 4:mobile wrong, 0: finished
								respone_code = parseInt(response);
								
								if (respone_code == 1)
								{
									g_sent++;
								}
								else if (respone_code == 0)
								{
									g_not_sent++;
								}
							}
						});
					}
					
					function count_message_length()
					{
							var message_length = $("#message").val().length;
							var messages_count = Math.ceil(message_length / 70);
							
							$("#message_info").html(
								message_length + " حرفاً (" + messages_count + ")"
							);
					}
				</script>
				
				<form action="install_send_sms.php" method="post" class="inputform">

					<p>
						<label>محتوى الرسالة <span class="info" id="message_info"></span></label>
						<textarea name="message" cols="40" rows="8" id="message">السلام عليكم، أسعد الله وقتك بكل خير، تم و بحمد الله افتتاح موقع شجرة عائلة {main_tribe_name}، تفضل بتسجيل الدخول من خلال:
اسم المستخدم: {username}
كلمة المرور: {password}</textarea>
					</p>

					<p>
						<label>&nbsp;</label>
						<span id="sending_details">-</span>
					</p>

					<p>
						<button class="submit" type="button" id="submit"><i class="icon-ok icon-white"></i> إرسال</button>
					</p>
				</form>
