<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ar" dir="rtl"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="عائلة الزغيبي، شجرة العائلة الإلكترونية" />
		<meta name="keywords" content="الزغيبي، شجرة، عائلة" />
		<meta name="author" content="حسام الزغيبي" />
		<meta name="viewport" content="width=device-width">
		
		<title>عائلة الزغيبي</title>

		<link rel="shortcut icon" href="views/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="views/img/icon.png"/>
		<link rel="apple-touch-icon-precomposed" href="icon" />
		
		<link rel="stylesheet" href="views/css/normalize.css" />
		<link rel="stylesheet" href="views/css/foundation.css" />
		
		<script type="text/javascript" src="views/js/vendor/jquery.js"></script>
		
		<script type="text/javascript" src="views/js/foundation.min.js"></script>
		<script type="text/javascript" src="views/js/vendor/custom.modernizr.js"></script>
	</head>
	
	<body>

		<div class="container">
		
			<nav class="top-bar">
				<ul class="title-area">
					<li class="name">
						<h1><a href="index.php">عائلة الزغيبي <small>{version}</small></a></h1>
					</li>
					
					<li class="toggle-topbar menu-icon"><a href="#"><span>القائمة</span></a></li>
				</ul>
				
				<section class="top-bar-section">
					<ul class="left">
						<li class="divider"></li>
						<li><a href="index.php">الأولى</a></li>
						<li class="divider"></li>
						<li><a href="familytree.php">شجرة العائلة</a></li>
						<li class="divider"></li>
						<li><a href="stats.php">إحصاءات</a></li>
						<li class="divider"></li>
						<li><a href="calendar.php">مناسبات العائلة</a></li>
						<li class="divider"></li>
						<li><a href="mobile_book.php">دليل الجوّال</a></li>
						<li class="divider"></li>
						<li><a href="family_dean.php">عميد العائلة</a></li>
					</ul>
				</section>
			</nav>
			
			{ramadan_question}
		
			<div class="panel">
				<div class="row">
					{logged}
				</div>
			</div>
			
			<div class="row">
				{inside}
			</div>
			
			<div class="row">
				<div class="large-12 columns">
					<hr />
				</div>
			</div>
			
			<div class="row">
				<div class="large-12 columns">
				<ul class="inline-list">
					<li>(ح) جميع الحقوق محفوظة 2012</li>
					<li><a href="https://twitter.com/alzughaibiorg" class="twitter-follow-button" data-show-count="true" data-lang="ar">@alzughaibiorg</a></li>
					<li><a href="feedback.php?page=index.php" class="tiny secondary button">أخبرنا برأيك!</a></li>
				</ul>
				</div>
			</div>
			
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>


	  	<script type="text/javascript">
	    		$(document).foundation();
	  	</script>
  	
	</body>
</html>
