<div class="row">
	<div class="large-12 columns">
		<div data-alert class="alert-box alert">
				توضيح: خيار (للجميع) يظهر للزوّار و الأعضاء، أمّا خيار (لدائرة القرابة فقط) فيظهر للأب، و الأم، و الإخوة و الأخوات، و الأبناء و البنات.
			<a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
		<form action="manage_privacy.php?id={id}" method="post" class="inputform">

			{privacy}

			<div class="row">
				<div class="large-12 columns">
					<input class="small button" type="submit" name="submit" value="تحديث الخصوصيّة" />
				</div>
			</div>
		</form>
	</div>
</div>
