				<form action="family_dean.php?action=nominate_yourself&period_id={period_id}" method="post" class="inputform">
					<p>
						<label>السيرة الذاتيّة</label>
						<textarea name="cv" cols="40" rows="4">{cv}</textarea>
					</p>
						
					<p>
						<label>شعار الحملة الانتخابيّة</label>
						<textarea name="slogan" cols="40" rows="2"></textarea>
					</p>
					
					<p>
						<label>برنامج الحملة الانتخابيّة</label>
						<textarea name="platform" cols="40" rows="4"></textarea>
					</p>

					<p>
						<button class="submit" type="submit" name="submit" value="1"><i class="icon-star icon-white"></i> ترشّح لعمادة العائلة</button>
						<span class="info">استخدم (*) في أول كل سطر لإضافة عنصر قائمة.</span>
					</p>
				</form>
