				<div class="row">
					<div class="large-4 columns">
					
						<form action="reset_password.php?action=enter_mobile" method="post" class="inputform">

							<div class="row">
								<div class="large-12 columns">
									<label>الجوّال</label>
									<input type="text" name="mobile" />
								</div>
							</div>
							
							<div class="row">
								<div class="large-12 columns">
									<div class="row collapse">
										<label>رمز التحقّق</label>
										<div class="small-9 columns">
											<input type="text" name="captcha" placeholder="" size="4" />
										</div>
										<div class="small-3 columns">
											<span class="postfix"><img src="captcha.php?page=reset_password" /></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="large-12 columns">
									<input class="small button" type="submit" name="submit" value="إرسال رمز التأكيد إلى الجوّال" />
								</div>
							</div>
						</form>
					</div>
				</div>
