				<div class="row">
					<div class="large-4 columns">
					
						<form action="reset_password.php?action=enter_code" method="post" class="inputform">

							<div class="row">
								<div class="large-12 columns">
									<label>رمز التأكيد (قد يستغرق وقتاً)</label>
									<input type="text" name="verification_code" />
								</div>
							</div>

							<div class="row">
								<div class="large-12 columns">
									<input class="small button" type="submit" name="submit" value="توليد كلمة مرور جديدة" />
								</div>
							</div>
						</form>
					</div>
				</div>
