				<div class="inputform family_council_page">

					<h2>المهام</h2>
					<p>
					<ol>
						<li>القيام بأعمال سكرتارية المجلس.</li>
						<li>إعداد جداول أعمال جلسات المجلس.</li>
						<li>تلقي الاقتراحات وترتيبها وعرضها على المجلس.</li>
						<li>توفير الوثائق والبيانات والمعلومات التي تتطلبها أعمال المجلس واللجان الاتصال بأي من أفراد العائلة ممن يود المجلس دعوتهم لحضور جلسات المجلس أو طلب الحصول منهم على معلومات تهم المجلس.</li>
						<li>إعداد محاضر الجلسات والقرارات التي تصدر عن المجلس بصيغتها النهائية وإرسالها للأعضاء.</li>
						<li>متابعة تنفيذ قرارات المجلس مع اللجان المختلفة.</li>
						<li>بناء قاعدة معلومات حاسوبية للبيانات والمعلومات التي لها علاقة بأعمال المجلس.</li>
						<li>الإشراف على اللجان التنفيذية وتنسيق كل ما من شأنه مساعدة المجلس على القيام بمهامه.</li>
						<li>ترتيب مواعيد اللقاءات والزيارات والاجتماعات التي يشارك فيها رئيس المجلس ونائبه وأعضاء المجلس.</li>
						<li>استقبال جميع المراسلات والخطابات الواردة للمجلس.</li>
						<li>القيام بكافة الأعمال الإدارية المساندة من تسجيل المعاملات الواردة والصادرة والنسخ والتصوير والحفظ والتوثيق.</li>
						<li>تنظيم وحفظ الملفات الخاصة بأعمال المجلس.</li>
						<li>عرض تقرير دوري عن أداء اللجان التنفيذية.</li>
					</ol>
					</p>
					
					
					<h2>مواصفات أعضاء اللجنة</h2>
					<p>
					<ol>
						<li>خبرة إدارية مناسبة.</li>
						<li>الالتزام طويل الأمد لحضور اجتماعات دورية.</li>
						<li>رؤساء اللجان التنفيذية.</li>
					</ol>
					</p>
				</div>
