					<div id="login">
						<form action="login.php" method="post">
							<h2>تسجيل الدخول</h2>
						
							<ul>
								<li><input class="text" type="text" name="username" placeholder="اسم المستخدم" /></li>
								<li><input class="text" type="password" name="password" placeholder="كلمة المرور" /></li>
							</ul>
	
							<a href="reset_password.php">نسيت كلمة المرور؟</a>
							<button class="login" type="submit" name="submit" value="1"><i class="icon-ok icon-white"></i> دخول</button>
							<div class="clear"></div>
						</form>
					</div>
