				<div class="row">
					<div class="large-12 columns">

						<ul class="breadcrumbs">
							<li><a href="index.php">الأولى</a></li>
							<li class="current">معلومات {dean_status}</li>
						</ul>

						<div class="row">
						
							<div class="large-2 small-2 columns">
								{photo}
							</div>
							
							<div class="large-10 small-10 columns">
							
								<h5>{fullname} <a href="familytree.php?id={member_id}" target="_blank">(تفاصيل أكثر)</a></h5>
						
								<!-- Important details. -->
								<p>
									<b>الموقع</b> {location}

									<b>العمر</b> {age}

									<b>الجوّال</b> {mobile}

									<b>التخصّص</b> {major}

									<b></b>{company}
								</p>
							</div>
						</div>

						<!--
						<h2>السيرة الذاتيّة</h2>
						<p>
						<ul>
							{cv}
						</ul>
						</p>
						-->

						{slogan}
						{platform}

						<div class="vote_to_dean">
							{vote_to_dean}
						</div>
					</div>
				</div>

