				<div class="inputform family_council_page">
				
					<div class="job_apply_div">
						<p>{apply}</p>
						<p class="datetime">(<i class="icon-time"></i> {created})</p>
					</div>

					<div class="job_title_div">
						<h1 class="job_title"><span><i class="icon-ok-circle"></i> </span>{title} <span>({en_title})</span></h1>
						
						<p class="job_description">
							<b>الوصف:</b> {description}
						</p>
					</div>

					<div>
						<div class="job_details_single">
							<p class="job_details_single_title">المسؤوليات</p>
							<p>
								{responsibilities}
							</p>
						</div>
						
						<div class="job_details_single">
							<p class="job_details_single_title">المؤهلات</p>
							<div>
								{qualifications}
							</div>
						</div>
						
						<div class="job_details_single">
							<p class="job_details_single_title">المهارات</p>
							<div>
								{desired_skills}
							</div>
						</div>
						
						<div class="clear"></div>

					</div>

					<div class="clear"></div>
				</div>
