				<div class="inputform">

					<h2>المرحلة الأولى (1)</h2>
				
					<table class="table">
						<thead>
							<tr>
								<th>البند</th>
								<th>التاريخ</th>
							</tr>
						</thead>
						<tbody>
						
							<tr>
								<td>البدء في تطوير الموقع</td>
								<td><i class="icon-calendar"></i> 01-01-1433</td>
							</tr>
							<tr>
								<td>افتتاح الموقع</td>
								<td><i class="icon-calendar"></i> 20-09-1433</td>
							</tr>
							<tr>
								<td>بدء تسجيل افراد العائلة</td>
								<td><i class="icon-calendar"></i> 29-09-1433</td>
							</tr>
							<tr>
								<td>استقبال الأفكار و المقترحات من الأعضاء و دراسة إمكانية تنفيذها</td>
								<td><i class="icon-calendar"></i> 29-10-1433</td>
							</tr>
							<tr>
								<td>عمل تقرير عن احصاءات العائلة و ارساله لجميع الأعضاء</td>
								<td><i class="icon-calendar"></i> بداية كل شهر</td>
							</tr>
						</tbody>
					</table>
					
					<h2>المرحلة الثانية (2)</h2>
				
					<table class="table">
						<thead>
							<tr>
								<th>البند</th>
								<th>التاريخ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>وضع آلية عمل اللجان التابعة لمجلس العائلة</td>
								<td><i class="icon-calendar"></i> 20-10-1433</td>
							</tr>
							<tr>
								<td>ترشيح اعضاء اللجان</td>
								<td><i class="icon-calendar"></i> 20-10-1433</td>
							</tr>
							<tr>
								<td>إصلاح الأخطاء البرمجية من المرحلة الأولى</td>
								<td><i class="icon-calendar"></i> 30-10-1433</td>
							</tr>
							<tr>
								<td>وضع آلية لإنتخاب عميد العائلة</td>
								<td><i class="icon-calendar"></i> 30-10-1433</td>
							</tr>
							<tr>
								<td>تنفيذ الأفكار  والمقترحات من الأعضاء</td>
								<td><i class="icon-calendar"></i> 30-03-1434</td>
							</tr>
							<tr>
								<td>إضافة محتوى رجال من العائلة</td>
								<td><i class="icon-calendar"></i> 30-03-1434</td>
							</tr>
							<tr>
								<td>إضافة محتوى مناسابات العائلة</td>
								<td><i class="icon-calendar"></i> 30-03-1434</td>
							</tr>
						</tbody>
					</table>
					
					<h2>المرحلة الثالثة (3)</h2>
				
					<table class="table">
						<thead>
							<tr>
								<th>البند</th>
								<th>التاريخ</th>
							</tr>
						</thead>
						<tbody>
						
							<tr>
								<td>تنفيذ الأفكار و المقترحات من الأعضاء</td>
								<td><i class="icon-calendar"></i> 30-09-1434</td>
							</tr>
							<tr>
								<td>عمل تقارير اللجان و  توزيعها على جميع الأعضاء</td>
								<td><i class="icon-calendar"></i> 30-09-1434</td>
							</tr>
						</tbody>
					</table>
				</div>
